################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConvertor.Testd/bin/Debug/net5.0
/CurrencyConvertor.Testd/obj/Debug/net5.0
/CurrencyConvertor.Testd/obj
/TaskHiring/bin/Debug/net5.0
/TaskHiring/obj
