################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConvertor.Testd/bin/Debug/net5.0
